@charset "utf-8";
@import "reset";

/* 폰트 */
@font-face {
	font-family: "Spoqa Han Sans Neo";
	font-weight: 700;
	src: url("../font/SpoqaHanSansNeo-Bold.woff") format("woff");
}
@font-face {
	font-family: "Spoqa Han Sans Neo";
	font-weight: 500;
	src: url("../font/SpoqaHanSansNeo-Medium.woff") format("woff");
}
@font-face {
	font-family: "Spoqa Han Sans Neo";
	font-weight: 400;
	src: url("../font/SpoqaHanSansNeo-Regular.woff") format("woff");
}
@font-face {
	font-family: "Spoqa Han Sans Neo";
	font-weight: 300;
	src: url("../font/SpoqaHanSansNeo-Light.woff") format("woff");
}

// 컬러
$bgBlack : #2e373e;
$bgWhite : #eff2f9;

$colorDarkBl : #204e75;
$colorBlue : #6E7F8D;
$colorLightBl : #B5BFC6;
$colorWhite : #FFFFFF;

// 사이즈
$font_14 : 0.88rem;
$font_16 : 1rem;
$font_18 : 1.13rem;
$font_20 : 1.25rem;
$font_22 : 1.38rem;
$font_24 : 1.50rem;
$font_28 : 1.75rem;
$font_32 : 2rem;
$font_48 : 3rem;
$font_60 : 3.75rem;

@mixin media($size) {
    @if $size == 'mobile' {
        @media screen and (max-width: 768px) {
            @content;
        }
    }
}

// 말줄임
@mixin text_short($line) {
	box-sizing: border-box;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-word;

	display: -webkit-box;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
}

body {
	overflow-x: hidden;
	font-size: 1rem;
	line-height: 160%;
	font-family: 'Spoqa Han Sans Neo', 'Nanum Gothic', '나눔 고딕', 'NanumGothic', 'Dotum', '돋움', Arial, sans-serif;;
	color: $bgBlack;
	background: $bgWhite;
	scroll-behavior: smooth;
	font-weight: 400;
}

.shadow_out_s {
    box-shadow : 2px 2px 4px rgba(32, 78, 117, 0.4), -2px -2px 4px rgba(239, 242, 249, 0.6);
    border-radius: 100rem;
}
.shadow_out_m {
    box-shadow : 4px 4px 8px rgba(32, 78, 117, 0.4), -4px -4px 8px rgba(239, 242, 249, 0.6);
    border-radius: 2rem;
}
.shadow_in_s {
    box-shadow : 2px 2px 4px rgba(32, 78, 117, 0.2), -2px -2px 4px rgba(239, 242, 249, 0.6), inset 2px 2px 4px rgba(32, 78, 117, 0.4), inset -2px -2px 4px rgba(239, 242, 249, 1);
    border-radius: 100rem;
}
.shadow_in_m {
    box-shadow : 4px 4px 8px rgba(32, 78, 117, 0.2), -4px -4px 8px rgba(239, 242, 249, 0.6), inset 4px 4px 8px rgba(32, 78, 117, 0.4), inset -4px -4px 8px rgba(239, 242, 249, 1);
    border-radius: 2rem;
}